<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block tittle %}{% endblock %}</title>
    <link rel="stylesheet"type="text/css" href="{{ url_for('static', filename='css/squartz_bootstrap.min.css') }}">
    <script type="text/javascript" src="{{ url_for('static', filename='jquery.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap.min.js')}}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap.bundle.min.js')}}"></script>
    <style type="text/css">
        body {
            background: #141E30;  /* fallback for old browsers */
            background: -webkit-linear-gradient(to right, #243B55, #141E30);  /* Chrome 10-25, Safari 5.1-6 */
            background: linear-gradient(to right, #243B55, #141E30); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        }
    </style>
</head>
<body>
    <div class="container-fluid">
        <!--Barra de herramientas de la carta de presentacion-->
        <div class="row">
            <nav class="navbar navbar-expand-lg bg-light">
                <div class="container-fluid">
                    <img class = "image-fluid" src="{{ url_for('static', filename='img/icons/python_icon.png') }}" alt="">
                    <a class="navbar-brand" href="#">Presentation Card App</a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarNav">
                    </div>
                </div>
            </nav>
        </div>

        <!--Cuerpo de carta de presentacion-->
        <div class="row d-flex justify-content-center mt-2">
            <!--Slider Area-->
            <div class="col-md-8">
                <div id="carouselExample" class="carousel slide">
                    <div class="carousel-inner">
                      {% block carrousel %}
                      
                      {% endblock %}
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
                      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                      <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
                      <span class="carousel-control-next-icon" aria-hidden="true"></span>
                      <span class="visually-hidden">Next</span>
                    </button>
                </div>

                <!--informacion personal & otros-->
                <div class="card mt-2" style="width: 100%;">
                    <div class="card-body">
                      {% block content %}
                      {% endblock %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>